
*:focus {
  outline: none !important;
  border: 0 !important;
}


html,
body {
  margin: 0;
  font-family: "Roboto",  sans-serif !important;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}
