<app-navbar>
</app-navbar>
<div style="margin-top:9vh;"></div>
<div style="display:flex;justify-content:space-between;padding:2rem; width:100%;overflow: hidden;">
  <div style="width:45%;">
    <p class="mat-h3">
      The <span style="font-weight:600;">average directional index (ADX)</span> is used to determine when the price is
      trending strongly. In many cases, it is
      the
      ultimate trend indicator.
      <br />
    <p>
      <img alt="img" style="width:100%;height:37vh;"
        src="https://www.investopedia.com/thmb/t4lQdTimxVcYi9DtX5Z71js7Yv4=/1610x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/dotdash_Final_ADX_The_Trend_Strength_Indicator_Sep_2020-01-6476fde647b247e3957f9cee702e9860.jpg" />
    <p class="mat-h3">
      ADX is used to quantify trend strength. ADX calculations are based on a moving average of price range expansion
      over
      a
      given period of time. The default setting is 14 bars, although other time periods can be used. ADX can be used on
      any
      trading vehicle such as stocks, mutual funds, exchange-traded funds and futures.
      <br />
      <br />
      ADX is plotted as a single line with values ranging from a low of zero to a high of 100. ADX is non-directional;
      it
      registers trend strength whether price is trending up or down.2﻿ The indicator is usually plotted in the same
      window
      as
      the two directional movement indicator (DMI) lines, from which ADX is derived
      <br />
      <br />
    </p>
  </div>
  <div style="width:45%;">
    <app-csv></app-csv>
    <app-data></app-data>
  </div>

</div>
